@{
    ViewData["Title"] = "Kategoriler";
}
<h1 class="text-center">Kategoriler</h1>
<div class="container">
    <div class="row justify-content-center">
    @foreach (var ktgr in (List<Kategoriler>)ViewData["KategorilerList"])
    {
        <div class="card m-2 col-3" >
            <img src="@ktgr.ResimUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">@ktgr.KategoriAdı</p>
            </div>
        </div>
    };
    </div>
</div>
