@{
    ViewData["Title"] = "Hakkimda";
}
<h1 class="text-center">Özgeçmiş</h1>
    <div class="row justify-content-center">
        <div class="card text-bg-primary m-3 " style="max-width: 18rem;">
            <div class="card-header">Kişisel Bilgiler</div>
            <div class="card-body">
                
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non ab ipsum incidunt ratione, nostrum voluptatibus.</p>
            </div>
        </div>
        <div class="card text-bg-secondary m-3 " style="max-width: 18rem;">
            <div class="card-header">Eğitim Geçmişim</div>
            <div class="card-body">
                
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit delectus molestiae doloribus quo, atque minus.</p>
            </div>
        </div>
        <div class="card text-bg-success m-3" style="max-width: 18rem;">
            <div class="card-header">Hedeflerim</div>
            <div class="card-body">
                
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic sed velit earum est aliquid ea.</p>
            </div>
    </div>
</div>